
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.main-container {
    max-width: 330px;
    margin: 30px auto;
    border: .5px solid #42e66b;
    border-radius: 10px;
    position: relative;
}

.calculator-icon {
    font-size: 40px !important;
    position: absolute;
    right: 42%;
    top: -30px;
    color: rgb(66, 230, 107)
}

.screen-container {
    padding: 10px;
}

.screen-container,
.buttons-container {
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
}

output {
    display: block;
    width: 100%;
    margin: 0px;
    text-align: right;
    cursor: auto;
}

.user-input {
    height: 50px;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}

.answer {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 0.5px solid #fff;
}

.material-symbols-outlined {
    margin: 0 5px;
    cursor: pointer;
}

.btns-holder {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.btn {
    width: 65px;
    height: 65px;
    margin: 5px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background-color:rgb(22, 26, 29) ;
}

.equals-btn {
    background-color: rgb(28, 171, 64);
    font-size: 35px;
}

.bracket {
    color: rgb(66, 230, 107);
}

.clear-btn {
    color: rgb(238, 109, 109);
}

.operator {
    font-size: 35px;
    color: rgb(66, 230, 107);
}

.backspace {
    color: rgb(0, 139, 0);
}